@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg, #4D0000 41%, #9C0000 66%, #4D0000 97%);
    padding: 1rem;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 500; /* Extra bold */
    margin-left: 8rem;
    margin-right: 18rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 5rem;
    font-family: 'Lexend',sans-serif;
}

.navbar-links li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .navbar-links {
        width: 100%; /* Full width for the links */
        justify-content: space-around; /* Space out the links */
    }

    .navbar-links li {
        margin: 0.5rem 0; /* Add some margin for spacing */
    }
}